<ul>
    <%- @categories.each do |category| %>
        <li>
           <%= link_to(category.title, root_url(:category_id => category.id)) %>
        </li>
    <% end %>
</ul>

<h2>Top 3 users</h2>
<ul>
    <%- @users.each do |user| %>
        <li>
           <%= user.email %> - <%= pluralize(user.comments_count, 'commentaire') %>
           <%= link_to 'Profil', user %>
        </li>
    <% end %>
</ul>

<h2>Products</h2>
<ul>
    <%= paginate @products %>
    <%- @products.each do |product| %>
        <li>
           <%= product.title %> - <%= pluralize(product.comments.count, 'commentaire') %>
           <%= link_to 'Show', product %>
        </li>
    <% end %>
</ul>